# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Local database
afripay.db
*.db

# Uploads / temp files
uploads/

# Backup folders
AFRIPAY BACKUP/

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Logs
*.log

*_OLD.py
test_*.py
update_*.py